*/**/__pycache__/*
__pycache__/
venv/*
config.py
settings.toml
.venv
playground.py

# Linters
.pytest_cache
.ruff_cache

# misc
.DS_STORE
*.db
.claude/

# PyRight
pyrightconfig.json

# PyCharm
.idea

# VsCode
.vscode/*

